[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 1s ease;
    padding: 5px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: white;
    margin-top: -10px;
    margin-left: 10px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

