MATLABICAFolder = [FOLDER]/bin/fastica++
MATLABFolder =
UseDocker = false 
DefaultWorkFolder = [FOLDER]/work
GeneSetFolder = [FOLDER]/knowledge/genesets
GenePropertiesFile = [FOLDER]/knowledge/geneproperties/genes.txt
MetaGeneFolder = [FOLDER]/knowledge/metagenes 
NetworkUndirectedFile = [FOLDER]/knowledge/networks/undirected/hprd9_pc_clicks.xgmml 
NetworkDirectedFile = [FOLDER]/knowledge/networks/directed/signor.xgmml
HTMLSourceFolder = [FOLDER]/bin/HTML
ComputeRobustStatistics = false
MinNumberOfDistinctValuesInNumericals = 10
MinNumberOfSamplesInCategory = 3
MaxNumberOfCategories = 10
AssociationAnalysisInThreshold = 1.0
SignificanceThresholdForShowingPlots = 3.0
AssociationCorrelationThreshold = 0.1
CorrelationThresholdForShowingPlots = 0.3
MinimalTolerableStability = 0.6
